.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 48px;
  padding-inline: 24px;
  border-radius: var(--radius-full);
  max-width: max-content;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.btn-fill {
  background-color: var(--primary-100);
  color: var(--neutral-100);
}

.btn-fill:where(:hover, :focus) {
  background-color: var(--primary-90);
  box-shadow: var(--shadow-1);
}
.btn-fill:where(:active, :focus-visible) {
  background-color: var(--primary-80);
}

.btn-outline {
  color: var(--primary-100);
  box-shadow: inset 0 0 0 2px var(--primary-100);
}

.btn-outline:where(:hover, :focus, :focus-visible) {
  color: var(--neutral-100);
}
.btn-outline:hover {
  background-color: var(--primary-100);
}
.btn-outline:focus {
  background-color: var(--primary-90);
}

.btn-outline:where(:active, :focus-visible) {
  background-color: var(--primary-80);
}

/* icon btn */
.icon-btn {
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-small);
  background-color: var(--neutral-100);
  color: var(--neutral-10);
  box-shadow: var(--shadow-3);
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}
.icon-btn:where(:hover, :focus-visible) {
  background-color: var(--neutral-90);
}

/* badge */
.badge {
  height: 32px;
  max-width: max-content;
  display: grid;
  place-items: center;
  padding-inline: 16px;
  background-color: var(--secondary-100);
  color: var(--neutral-100);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-3);
}

/* Card */

.card {
  border-radius: var(--radius-large);
  overflow: hidden;
  box-shadow: var(--shadow-2);
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.card:where(:hover, :focus-within) {
  box-shadow: var(--shadow-4);
}

.card-banner {
  position: relative;
}

.card-banner .img-cover {
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.card-banner:where(:hover, :focus-within) .img-cover {
  transform: scale(1.1) rotate(2deg);
}

.card .badge {
  position: absolute;
  top: 20px;
  left: 20px;
}
.card .icon-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  scale: 0.8;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.card:where(:hover, :focus-within) .icon-btn {
  opacity: 1;
  visibility: visible;
  scale: 1;
}

.fav-btn {
  color: var(--error-100);
}

.fav-btn.active .material-symbols-rounded {
  font-variation-settings: 'FILL' 1;
}

.card:where(:hover, :focus-within) .icon-btn {
  scale: 1;
  opacity: 1;
  visibility: visible;
}

.card-content {
  padding: 20px 20px 24px;
}

.card-title {
  margin-block: 8px;
  color: var(--neutral-20);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.card-title:where(:hover, :focus-visible) {
  color: var(--primary-100);
}

.card-text {
  color: var(--neutral-40);
}

.card-meta-li {
  padding-block-start: 16px;
  margin-block-start: 16px;
  border-block-start: 1px solid var(--neutral-90);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.card .meta-item {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--neutral-20);
}
